<div class="navbar">
  <div class="logo">
    <a class="logo-link" [routerLink]="['/home']">
      <h1 class="logo-text">My</h1>
      <h1 class="logo-text">Forum</h1>
    </a>
  </div>
  <div class="search">
    <i class="gg-search"></i>
    <input class="search-input"
           type="text" placeholder="Search Forum"
           [(ngModel)] = "auth.filter">
  </div>
  <div class="profile">
    <a class="profile-signup" [routerLink]="['/sign-up']" *ngIf="!auth.IsLoggedIn">SignUp</a>
    <!-- <p *ngIf="auth.IsLoggedIn">{{auth.user.displayName}}</p> -->
    <div *ngIf="auth.IsLoggedIn" class="profile-img-link">
        <a [routerLink]="['/profile']">
          <img *ngIf="user != null" [src]="user.profileImageUrl">
        </a>
    </div>
  </div>
</div>
